html,body {
	margin: 0;
}

body {
	background-color: #000;
	overflow:hidden;
}

svg {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	cursor: crosshair;
}

path.link {
	fill: none;
	stroke: #00BF00;
	stroke-width: 2px;
	cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.node {
	stroke-width: 1.5px;
	cursor: pointer;
}

text {
	font: 14px monospace;
	pointer-events: none;
}

text.id {
	text-anchor: middle;
	fill: #CCC;
	font: 12px monospace;
	font-weight: bold;
}

text.name {
	text-anchor: middle;
	fill: #FFF;
	font-weight: bold;
}

.log {
	position: absolute;
	width: 600px;
	height:100%;
	display: table;
	pointer-events: none;
}

.log-inner {
	width: 100%;
	display: table-cell;
	vertical-align: bottom;
}

.log-entry {
	color: #CCC;
	width: 100%;
	font: 14px monospace;
	font-weight: bold;

	animation-name: log-fade;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-delay: 30s;
}

.log-name, .log-id {
	color: #FFF;
}

@keyframes log-fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
